.categorybutton {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
    width: 130px;
    text-align: center;
}

/* Hover effect for all buttons */
.categorybutton:hover,
.categorybutton:focus {
    color: #ffffff;
    background: #061726;
    border: 1px solid #ffffff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #061726, 0 0 20px #061726, 0 0 50px #061726,
        0 0 100px #061726;
}

.categorybutton.active {
    color: #ffffff;
    background: #061726;
    border: 1px solid #ffffff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #061726, 0 0 20px #061726, 0 0 50px #061726,
        0 0 100px #061726;
}

